{% extends 'productpage.html' %}
{% load static %}
{% block content %}
<section class="banner center d-flex flex-column" style="position: relative;top: -5rem;background: url('{% static "./images/pexels-mike-b-100654.jpg"%}');background-position: center; background-size: cover;">
    <div style="margin-bottom: -7rem;">
        <div class="boxContainer hoverable">
            <div class="boxContainer hoverable" style="display:flex;">
                <form action="/product/search/" class="search">
                    <input type="text" name="search" class="searchbox browser-default" placeholder="Seach the vehicle you want" style=" border-radius: 5px 0 0 5px;font-size: 15px; padding-left: 30px; font-family: Roboto 2"/>
                    <button style="border-radius: 0 5px 5px 0;border: transparent; padding: 0.957rem;" ><i class="bi bi-search" type="button" style="font-size: 1rem;"></i></button>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-evenly pt-4" style="font-size:1.2rem;">
            <a href="https://instagram.com/" style="color:white;margin: 0px 1rem"><i class="bi bi-instagram"></i><br>sport</a>
            <a href="https://facebook.com/" style="color:white;margin: 0px 1rem"><i class="bi bi-facebook"></i><br>sport</a>
            <a href="https://github.com/" style="color:white;margin: 0px 1rem"><i class="bi bi-github"></i><br>sport</a>
            <a href="https://youtube.com/" style="color:white;margin: 0px 1rem"><i class="bi bi-youtube"></i><br>sport</a>
        </div>
    </div> 
</section>
{% endblock %}