{% extends 'home.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vadagadi</title>
    <link rel="stylesheet" href={%static "./css/productpage.css"%}>
    <link rel="shortcut icon" href={% static './images/new.png'%} type="image/x-icon" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sen">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!--Material Design for Bootstrap 5-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css">
    <style>
        html{
            padding:0;
            margin:0;
            min
        }
        body{
            min-height:100%;
        }
        nav{
            width:100%;
            background-color: #212529;
            height: 0;
            overflow: hidden;
        }
        nav.sticky{
            background-color: #212529;
        }
        .navbar-fixed{
            height: 0;
            overflow: hidden;
        }
        ul:not(.browser-default) > li{
            width:100%;
        }
        .dropdown-content{
            height: 36px;
        }
        .rating-container {
            display: flex;
          }
          .rating-star {
            font-size: 1em;
            color: lightgray;
            transition: color 0.3s ease;
            cursor: pointer;
          }
          .selected {
            color: orange;
          }
          .animated {
            animation: pulse 0.3s ease;
          }
          @keyframes pulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.2);
            }
            100% {
              transform: scale(1);
            }
          }
        @media only screen and (max-width: 999px){
            .sidenavHidden{
                width: 0;
                overflow: hidden;
            }
            nav{
                height: auto;
            }
            .px-sm-2{
                padding:0;
            }
        }
    </style>  
</head>
<!-- for small screen menu -->
<div class="navbar-fixed" style="z-index:2;">
    <nav style="box-shadow:none;">
        <div class="nav-wrapper container" style="width:100%;">
            <a href="/product/" class="brand-logo"><img width="150rem" src={% static "./images/nepali4.png"%}/></a>
            <div>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="bi bi-list" style="font-size:2rem;color:white;line-height: inherit;"></i></a>
                <ul class="right hide-on-med-and-down navHover">
                    {% if user.is_superuser %}
                        <li><a href="/admin/" class="waves-effect waves-purple btn white black-text"><i class="bi bi-bar-chart-fill left" style="line-height: inherit;"></i><b>Admin</b></a><li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                        <!-- Dropdown Trigger -->
                        <a class="dropdown-trigger waves-effect waves-red btn" style="border-radius: 2rem;background-color:#FF3E5A" href='#' data-target='dropdown1'><b><i class="bi bi-person-circle left" style="line-height: inherit;"></i>{{user}}</b></a>
    
                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content' >
                            <li style="min-height:30px;"><a class='center' href="/register/logout" style="padding:0; color:red; height:30px;"><b>Logout</b></a></li>
                        </ul>
                    {% else %}
                        <a type="submit" href="/register" class="waves-effect waves-red btn" style="border-radius: 2rem; background-color: #ff3e5a;">
                            <b>Sign In</b>
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav grey lighten-2" id="slide-out">
    <li><a href="/">Home</a></li>
    <li><a href="/product/">Products</a></li>
    <li><a href="/contactus/">Contact Us</a></li>
    <li><a href="/aboutus/">About Us</a></li>
    
    <li>
        <div class="container" style="width: 85%;">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li><a href="/admin/">Admin</a></li>
                {% endif%}
                <li>
                    <a href="/history/" style="">History</a>
                </li>
                <div>
                    <li><a>Hello,{{user}}</a></li><br/>
                    <li>
                        <a type="submit" href="/register/logout" class="waves-effect waves-purple btn white black-text"> <b>Logout</b></a>
                    </li>
                </div>
                {% else %}
                <li>
                    <a type="submit" href="/register/" class="waves-effect waves-purple btn white black-text">
                        <b>Sign In</b>
                    </a>
                </li>
            {% endif %}
        </div>
    </li>
</ul>

<div class="container-fluid" style="padding: 0;">
    <div class="row flex-nowrap" style="margin-bottom: 0;">
        <div class="col-auto col-md-3 col-xl-2 px-0 bg-dark sidenavHidden">
            <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white" style="height:100vh;padding:2rem;">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" style="width: 100%; font-size: 14pt;">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0" style="color:#fff;">
                            <img src="{% static "./images/nepali4.png"%}" width="100%" />
                        </a>
                        <br>
                    </li>
                   
                    <li class="nav-item" style="background-color: #363b3f;border-radius: 3px;margin-top:5px;">
                        <a href="/" class="nav-link align-middle px-0" style="color:#fff;">
                            <span class="ms-1 d-none d-sm-inline" style="padding-left: 1rem;">Home</span>
                        </a>
                    </li>
                    <li class="nav-item" style="background-color: #363b3f;border-radius: 3px;margin-top:5px;">
                        <a href="/product/" class="nav-link align-middle px-0" style="color:#fff;">
                            </i> <span class="ms-1 d-none d-sm-inline" style="padding-left: 1rem;">Vehicles</span>
                        </a>
                    </li>
                    <li class="nav-item" style="background-color: #363b3f;border-radius: 3px;margin-top:5px;">
                        <a href="/aboutus/" class="nav-link align-middle px-0" style="color:#fff;">
                            <span class="ms-1 d-none d-sm-inline" style="padding-left: 1rem;">About Us</span>
                        </a>
                    </li>
                    <li class="nav-item" style="background-color: #363b3f;border-radius: 3px;margin-top:5px;">
                        <a href="/contactus/" class="nav-link align-middle px-0" style="color:#fff;">
                            <span class="ms-1 d-none d-sm-inline" style="padding-left: 1rem;">Contact Us</span>
                        </a>
                    </li>
                    {% if user.is_superuser %}
                        <li><a href="/admin/" class="waves-effect waves-purple btn white black-text mt-3" style="width:100%;"><i class="bi bi-bar-chart-fill left" style="line-height: inherit;"></i><b>Admin</b></a><li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                        <!-- Dropdown Trigger -->
                        <a class="dropdown-trigger waves-effect waves-red btn mt-3" style="background-color:#FF3E5A;width:100%;" href='#' data-target='dropdown1'><b><i class="bi bi-person-circle left" style="line-height: inherit;"></i>{{user}}</b></a>
    
                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                            <li style="min-height:30px;"><a class='center' href="/register/logout" style="padding:0; color:red; height:30px;"><b style="top:6px; position:relative;">Logout</b></a></li>
                        </ul>
                    {% else %}
                        <br>
                        <a type="submit" href="/register" class="waves-effect waves-red btn" style="background-color: #ff3e5a;width:100%;">
                            <b>Sign In</b>
                        </a>
                    {% endif %}
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3 pt-sm-5">
            <div class="container mt-3" style="width:100%;overflow-x: auto;"> 
                {% if history %}
                    {% if user.is_superuser %}
                        <h2 class="pt-sm-2">Reserved Vehicle</h2>  
                    {% else %}
                        <h2 class="pt-sm-2">History</h2>  
                    {% endif %} 
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Username</th>
                            <th>Vehicle Name</th>
                            <th>Vehicle Model No.</th>
                            <th>Price</th>
                            <th>Delivery Status</th>
                            <th>Delivery Type</th>
                            <th>Starting</th>
                            <th>Ending</th>
                            <th>Cancel Order</th>
                            {% if user.is_superuser %}
                                <th>Order Complete</th>
                            {% endif %}
                            </tr>
                        </thead>
                        {% for history in history %}
                            <tbody>
                                <tr>
                                    <td>{{history.name}}</td>
                                    <td><a href="/product/productdetail/{{history.product.id}}/">{{history.product.name}}</a></td>
                                    <td>{{history.product.model}}</td>
                                    <td>{{history.cost_per_day}}</td>
                                    <td>{{history.delivery_status}}</td>
                                    <td>COD</td>
                                    <td>{{history.starting}}</td>
                                    <td>{{history.ending}}</td>
                                    <td><a class="waves-effect waves-light modal-trigger" href="#modal{{history.product.id}}">Delete</a></td>
                                    {% if user.is_superuser %}
                                        <td><a class="waves-effect waves-light modal-trigger" href="/product/complete-order/{{history.product.id}}/">Order Complete</a></td>
                                    {% endif %}

                                    <!-- Modal Structure -->
                                    <div id="modal{{history.product.id}}" class="modal" style="height:auto;">
                                        <div class="modal-content">
                                        <h4>Delete This order</h4>
                                        <p>{{history.name}} : {{history.product.name}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">cancel</a>
                                            <a href="/history/delete/{{history.product.id}}/" class="modal-close waves-effect waves-red btn-flat">Confirm</a>
                                        </div>
                                    </div>
                                            
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% else %}
                    <h2 class="pt-sm-2">History</h2>
                    <h5 class="pt-sm-2">Empty Find Something <a class="waves-effect waves-red btn" href="/product/" style="background-color: black;margin-left:1rem;">Home</a></h5> 
                {% endif %}
                {% if payment_complete%}
                    <h2 class="pt-sm-2">Order Completed</h2>
                    <table class="table">
                        <thead>
                            <tr>
                            <th>user</th>
                            <th>product</th>
                            <th>total_days</th>
                            <th>amount</th>
                            <th>Your Rating</th>
                            <th>payment_type</th>
                            <th>payment</th>
                        </thead>
                        {% for payment_complete in payment_complete %}
                            <tbody id="products">
                                <tr class="product" data-id="123">
                                    <td>{{payment_complete.user}}</td>
                                    <td><a href="/product/productdetail/{{payment_complete.product.id}}/">{{payment_complete.product}}</a></td>
                                    <td>{{payment_complete.total_days}}</td> 
                                    <td>{{payment_complete.amount}}</td>
                                    <td>
                                        {% if not payment_complete.rating %}
                                            {% if not user.is_superuser %}
                                                <div class="product" style="display:flex;">
                                                    <div class="rating-container" data-product="product-{{payment_complete.id}}">
                                                        <i class="fas fa-star rating-star" style="line-height: 1.5;"></i>
                                                        <i class="fas fa-star rating-star" style="line-height: 1.5;"></i>
                                                        <i class="fas fa-star rating-star" style="line-height: 1.5;"></i>
                                                        <i class="fas fa-star rating-star" style="line-height: 1.5;"></i>
                                                        <i class="fas fa-star rating-star" style="line-height: 1.5;"></i>
                                                    </div>
                                                    <form action="/product/rating/{{payment_complete.id}}/" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="product-{{payment_complete.id}}-rating" class="product-rating" required>
                                                        <button type="submit" style="margin-left: 0.4rem;background: #fd3c58;border: none;padding: 0.3rem 0.2rem;color: white;border-radius: 0.1rem;box-shadow: 1px 1px #8e898978;">Submit</button>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="rating-container1">
                                                <i class="fas fa-star {%if payment_complete.rating >= 1%} selected {%endif%}" style="line-height: 1.5;"></i>
                                                <i class="fas fa-star {%if payment_complete.rating >= 2%} selected {%endif%}" style="line-height: 1.5;"></i>
                                                <i class="fas fa-star {%if payment_complete.rating >= 3%} selected {%endif%}" style="line-height: 1.5;"></i>
                                                <i class="fas fa-star {%if payment_complete.rating >= 4%} selected {%endif%}" style="line-height: 1.5;"></i>
                                                <i class="fas fa-star {%if payment_complete.rating >= 5%} selected {%endif%}" style="line-height: 1.5;"></i>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>COD</td>
                                    <td>{{payment_complete.payment}}</td> 
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div class="container" style="width:100%; display:flex; justify-content:right;">
                {% if not user.is_superuser %}
                    {% if history %}
                        <a type="submit" href="/product/payment/" class="waves-effect waves-red btn" style="background-color: #ff3e5a;">
                            <b>Checkout</b>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--MaterialCss-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    const ratingContainers = document.querySelectorAll(".rating-container");

    // Loop through each rating container and attach event listeners to its stars
    ratingContainers.forEach(container => {
        const stars = container.querySelectorAll(".rating-star");
        const ratingInput = container.parentNode.querySelector(".product-rating");
        let ratingValue = 0;

        stars.forEach((star, index) => {
            star.addEventListener("mouseover", e => {
                resetStars(stars);
                addSelectedClass(stars, index);
            });

            star.addEventListener("click", e => {
                ratingValue = index + 1;
                ratingInput.value = ratingValue;
            });

            star.addEventListener("mouseout", e => {
                resetStars(stars);
                if (ratingValue !== 0) {
                    addSelectedClass(stars, ratingValue - 1);
                }
            });
        });
    });

    function resetStars(stars) {
        stars.forEach(star => {
            star.classList.remove("selected");
        });
    }

    function addSelectedClass(stars, index) {
        for (let i = 0; i <= index; i++) {
            stars[i].classList.add("selected");
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.modal').modal();
    });
</script>

{% endblock %}