<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vadagadi</title>
        <link rel="shortcut icon" href="./style/images/logo.jpg" type="image/x-icon" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="./style/css/loginStyle.css">
    </head>
    <body>
        <nav class="container">
            <ul>
              <li><strong>Brand</strong></li>
            </ul>
            <ul>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#" role="button">Button</a></li>
            </ul>
        </nav>
        
        <script src="" async defer></script>
    </body>
</html>