{% extends 'account.html'%}

{% block content %}
<!-- signin card -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<style>
    .indicator {
        background-color: #0000;
    }
    .password-container input[type="password"],
      .password-container input[type="text"]{
        width: 100%;
        padding: 12px 36px 12px 12px;
        box-sizing: border-box;
      }.fa-eye{
        position: absolute;
        top: 28%;
        right: 4%;
        cursor: pointer;
        color: #a1a1a1;
      }
</style>
<div class="container" style="width:100%;">
    <div class="row center">
        <div class="col s12 m12 l12" style="display:flex; justify-content:center;">
            <div class="account">
                <ul style="margin: 30px 20px;">
                    <div class="alert alert-primary" role="alert" style="color: #fff9f9;background-color: #000; border-color: #0000;border-bottom: 2px solid white;">
                        Create New Password
                    </div>
                </ul>
                <div class="col s12">
                    <form style="margin: 2rem 2rem;" action="update_password" method="post">
                        {% csrf_token %}
                        {% for message in messages %}
                            {% if color == True %}
                                <div class="alert alert-primary" role="alert" style="color: #267c28;background-color: #008e1647;border-color: #0d690000;">
                                    {{message}}
                                </div>
                            {% else %}
                                <div class="alert alert-primary" role="alert" style="color: #ba1d1d;background-color: #ff222236;border-color: #002c6900;">
                                    {{message}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="input-field">
                            <i class="material-icons prefix">key</i>
                            <input type="password" id="password" name="password1" required>
                            <label for="password">Password</label>
                            <i class="fa-solid fa-eye" id="eye"></i>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">key</i>
                            <input type="password" id="password2" name="password2" required>
                            <label for="confirmPasswords">Confirm Password</label>
                        </div>
                        <div class="input-field center" style="margin-bottom: 2rem;">
                            <button type="submit" class="btn btn-primary black">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const passwordInput = document.querySelector("#password")
    const eye = document.querySelector("#eye")
    eye.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash")
        const type = passwordInput.getAttribute("type") === "password" ? "text" : "password"
        passwordInput.setAttribute("type", type)
    })
</script>
{% endblock%}