{% extends 'account.html'%}

{% block content %}
<!-- signin card -->
<style>
    .indicator {
        background-color: #0000;
    }
</style>
<div class="container" style="width:100%;">
    <div class="row center">
        <div class="col s12 m12 l12" style="display:flex; justify-content:center;">
            <div class="account">
                <ul style="margin: 30px 20px;">
                    <div class="alert alert-primary" role="alert" style="color: #fff9f9;background-color: #000; border-color: #0000;border-bottom: 2px solid white;">
                        Enter your register email
                    </div>
                </ul>
                <!-- login -->
                <div id="login" class="col s12">
                    <form style="margin: 2rem 2rem;" action="email_submited" method="post">
                        {% csrf_token %}
                        {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{request.GET.next}}">
                        {% endif %}
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input type="email" id="email" name="email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field center" style="margin-bottom: 2rem;">
                            <button type="submit" class="btn btn-primary black">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}