{% extends 'home.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vadagadi</title>
    <link rel="stylesheet" href={%static "./css/productpage.css"%}>
    <link rel="shortcut icon" href={% static './images/new.png'%} type="image/x-icon" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sen">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <style>
        html{
            padding:0;
            margin:0;
            min
        }
        body{
            min-height:100%;
        }
        nav{
            width:100%;
            background-color: #212529;
            height: 0;
            overflow: hidden;
        }
        nav.sticky{
            background-color: #212529;
        }
        .navbar-fixed{
            height: 0;
            overflow: hidden;
        }
        ul:not(.browser-default) > li{
            width:100%;
        }
        .dropdown-content{
            height: 36px;
        }
        @media only screen and (max-width: 999px){
            .sidenavHidden{
                width: 0;
                overflow: hidden;
            }
            nav{
                height: auto;
            }
            .px-sm-2{
                padding:0;
            }
        }
    </style>  
</head>
<!-- for small screen menu -->
<div class="navbar-fixed" style="z-index:2;">
    <nav style="box-shadow:none;">
        <div class="nav-wrapper container" style="width:100%;">
            <a href="/product/" class="brand-logo"><img width="150rem" src={% static "./images/nepali4.png"%}/></a>
            <div>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="bi bi-list" style="font-size:2rem;color:white;line-height: inherit;"></i></a>
                <ul class="right hide-on-med-and-down navHover">
                    {% if user.is_superuser %}
                        <li><a href="/admin/" class="waves-effect waves-purple btn white black-text"><i class="bi bi-bar-chart-fill left" style="line-height: inherit;"></i><b>Admin</b></a><li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                        <!-- Dropdown Trigger -->
                        <a class="dropdown-trigger waves-effect waves-red btn" style="border-radius: 2rem;background-color:#FF3E5A" href='#' data-target='dropdown1'><b><i class="bi bi-person-circle left" style="line-height: inherit;"></i>{{user}}</b></a>
    
                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content' >
                            <li style="min-height:30px;"><a class='center' href="/register/logout" style="padding:0; color:red; height:30px;"><b>Logout</b></a></li>
                        </ul>
                    {% else %}
                        <a type="submit" href="/register" class="waves-effect waves-red btn" style="border-radius: 2rem; background-color: #ff3e5a;">
                            <b>Sign In</b>
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav grey lighten-2" id="slide-out">
    <li><a href="/blog">Blog</a></li>
    <li><a href="/service">Services</a></li>
    <li><a href="/contact">Contact</a></li>
    
    <li>
        <div class="container" style="width: 85%;">
            <li>
                <a type="submit" href="/register" class="waves-effect waves-purple btn white black-text">
                    <b>Sign In</b>
                </a>
            </li>
        </div>
    </li>
</ul>

<div class="container-fluid" style="padding: 0;">
    <div class="row flex-nowrap" style="margin-bottom: 0;height:100%">
        <div class="col-auto col-md-3 col-xl-2 px-0 bg-dark sidenavHidden">
            <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white" style="height:100vh;padding:1rem;">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" style="width: 100%; font-size: 14pt;">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0" style="color:#fff;">
                            <img src="{% static "./images/nepali4.png"%}" width="100%" />
                        </a>
                        <br>
                    </li>
                    <li class="nav-item" style="background-color: #363b3f;border-radius: 3px;margin-top:5px;">
                        <a href="/" class="nav-link align-middle px-0" style="color:#fff;">
                            <span class="ms-1 d-none d-sm-inline" style="padding-left: 1rem;">Home</span>
                        </a>
                    </li>
                    <li class="nav-item" style="background-color: #363b3f;border-radius: 3px;margin-top:5px;">
                        <a href="/product/" class="nav-link align-middle px-0" style="color:#fff;">
                            </i> <span class="ms-1 d-none d-sm-inline" style="padding-left: 1rem;">Vehicles</span>
                        </a>
                    </li>
                    <li class="nav-item" style="background-color: #363b3f;border-radius: 3px;margin-top:5px;">
                        <a href="#" class="nav-link align-middle px-0" style="color:#fff;">
                            <span class="ms-1 d-none d-sm-inline" style="padding-left: 1rem;">About Us</span>
                        </a>
                    </li>
                    <li class="nav-item" style="background-color: #363b3f;border-radius: 3px;margin-top:5px;">
                        <a href="#" class="nav-link align-middle px-0" style="color:#fff;">
                            <span class="ms-1 d-none d-sm-inline" style="padding-left: 1rem;">Contact Us</span>
                        </a>
                    </li>
                    {% if user.is_superuser %}
                        <li><a href="/admin/" class="waves-effect waves-purple btn white black-text mt-3" style="width:100%;"><i class="bi bi-bar-chart-fill left" style="line-height: inherit;"></i><b>Admin</b></a><li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                        <!-- Dropdown Trigger -->
                        <a class="dropdown-trigger waves-effect waves-red btn mt-3" style="background-color:#FF3E5A;width:100%;" href='#' data-target='dropdown1'><b><i class="bi bi-person-circle left" style="line-height: inherit;"></i>{{user}}</b></a>
    
                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                            <li style="min-height:30px;"><a class='center' href="/register/logout" style="padding:0; color:red; height:30px;"><b style="top:6px; position:relative;">Logout</b></a></li>
                        </ul>
                    {% else %}
                        <br>
                        <a type="submit" href="/register" class="waves-effect waves-red btn" style="background-color: #ff3e5a;width:100%;">
                            <b>Sign In</b>
                        </a>
                    {% endif %}
                </ul>
                <hr>
            </div>
        </div>
        <div class="col" style="padding:0;">
            <section style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/background3.webp); height:100%">
                <div class="row d-flex justify-content-center m-0">
                    <div class="col-md-10 col-lg-8 col-xl-5">
                    <div class="card rounded-3">
                        <div class="card-body p-4">
                        <div class="text-center mb-4">
                            <h3>Settings</h3>
                            <h6>Payment</h6>
                        </div>
                        <form action="">
                            <p class="fw-bold mb-4 pb-2">Saved cards:</p>

                            <div class="d-flex flex-row align-items-center mb-4 pb-1">
                            <img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                            <div class="flex-fill mx-3">
                                <div class="form-outline">
                                <input type="text" id="formControlLgXc" class="form-control form-control-lg"
                                    value="**** **** **** 3193" />
                                <label class="form-label" for="formControlLgXc">Card Number</label>
                                </div>
                            </div>
                            <a href="#!">Remove card</a>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4 pb-1">
                            <img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" />
                            <div class="flex-fill mx-3">
                                <div class="form-outline">
                                <input type="text" id="formControlLgXs" class="form-control form-control-lg"
                                    value="**** **** **** 4296" />
                                <label class="form-label" for="formControlLgXs">Card Number</label>
                                </div>
                            </div>
                            <a href="#!">Remove card</a>
                            </div>

                            <p class="fw-bold mb-4">Add new card:</p>

                            <div class="form-outline mb-4">
                            <input type="text" id="formControlLgXsd" class="form-control form-control-lg"
                                value="Anna Doe" />
                            <label class="form-label" for="formControlLgXsd">Cardholder's Name</label>
                            </div>

                            <div class="row mb-4">
                            <div class="col-7">
                                <div class="form-outline">
                                <input type="text" id="formControlLgXM" class="form-control form-control-lg"
                                    value="1234 5678 1234 5678" />
                                <label class="form-label" for="formControlLgXM">Card Number</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-outline">
                                <input type="password" id="formControlLgExpk" class="form-control form-control-lg"
                                    placeholder="MM/YYYY" />
                                <label class="form-label" for="formControlLgExpk">Expire</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-outline">
                                <input type="password" id="formControlLgcvv" class="form-control form-control-lg"
                                    placeholder="Cvv" />
                                <label class="form-label" for="formControlLgcvv">Cvv</label>
                                </div>
                            </div>
                            </div>

                            <button class="btn btn-success btn-lg btn-block">Add card</button>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                </section>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>

{% endblock %}