{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Profile</title>
        <meta name="description" content="">
        <link rel="shortcut icon" href={% static './images/logo.png'%} type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />  
        <style>
            .gradient-custom-2 {
                /* fallback for old browsers */
                background: #fbc2eb;
                
                /* Chrome 10-25, Safari 5.1-6 */
                background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
                
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
                }
        </style>
    </head>
    <body>
        <!--Nav bar-->
        <div class="navbar-fixed" style="z-index:2;">
            <nav style="background-color: black;">
                <div class="nav-wrapper container" style="width:90%;">
                    <a href="/product/" class="brand-logo"><img width="150rem" src={% static "./images/logo3.png"%}/></a>
                    <div>
                        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="bi bi-list" style="font-size:2rem;color:white;line-height: inherit;"></i></a>
                        <ul class="right hide-on-med-and-down navHover">
                            <li><a href="sass.html">Sass</a></li>
                            <li><a href="badges.html">Components</a></li>
                            <li><a href="collapsible.html">Javascript</a></li>
                            <li><a href="mobile.html">Mobile</a></li>
                            {% if user.is_superuser %}
                                <li><a href="/admin/" class="waves-effect waves-purple btn white black-text"><i class="bi bi-bar-chart-fill left" style="line-height: inherit;"></i><b>Admin</b></a><li>
                            {% endif %}
                            
                            {% if user.is_authenticated %}
                                <!-- Dropdown Trigger -->
                                <a class="dropdown-trigger waves-effect waves-red btn" style="border-radius: 2rem;background-color:#FF3E5A" href='#' data-target='dropdown1'><b><i class="bi bi-person-circle left" style="line-height: inherit;"></i>{{user}}</b></a>
            
                                <!-- Dropdown Structure -->
                                <ul id='dropdown1' class='dropdown-content' >
                                    <li style="min-height:30px;"><a class='center' href="/register/logout" style="padding:0; color:red; height:30px;"><b>Logout</b></a></li>
                                </ul>
                            {% else %}
                                <a type="submit" href="/register" class="waves-effect waves-red btn" style="border-radius: 2rem;background-color:#FF3E5A">
                                    <b>Sign In</b>
                                </a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--Mobile Nav bar-->
        <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
              <div class="background">
                <img src="images/office.jpg">
              </div>
              <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
              <a href="#name"><span class="white-text name">John Doe</span></a>
              <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
        <section class="gradient-custom-2">
            <div class="container py-5">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col col-lg-9 col-xl-7">
                  <div class="card">
                    <div class="rounded-top text-white d-flex flex-row row" style="background-color: #000; height:auto; width:100%;margin:auto;">
                        <div class="ms-4 d-flex flex-column col" style="width: 150px;">
                            <img src="/{{userveri.profile}}/"
                            alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-4"
                            style="width: 150px; z-index: 1">
                        </div>
                        <div class="ms-3 col" style="margin-top: 1rem;">
                            <h5>{{user}}</h5>
                            <p style="display:flex;aline-items:center"><i class="bi bi-patch-check-fill" style="padding-right:0.5rem;"></i> Verified</p>
                        </div>
                    </div>
                    <div style="box-sizing:border-box;padding:2rem;">
                        <h5>Profile Picture Update:</h5>
                        <form method="post" action="/register/user-profile/{{user.id}}/"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="image">
                            <button type="submit">Upload</button>
                        </form>                        
                    </div>
                    <div>
                        <p style="padding-left:1rem;font-size:16pt;">Your booking History<p>
                        <div class="row row-cols-2" style="width: 80%; margin: auto;">
                            {% for product in booking %}
                                <div class="col-12 col-sm-12 col-md-6" style="padding-bottom:0.5rem;">
                                    <div class="card hoverable" style="border-radius:5px;height: 100%;">
                                        <div class="card-image">
                                            <img style="border-radius:5px;" src="https://imageio.forbes.com/specials-images/imageserve/5f962df3991e5636a2f68758/0x0.jpg?format=jpg&crop=812,457,x89,y103,safe&width=1200">
                                            {% if not product.product.booked %}
                                                <a href="productdetail/{{product.product.id}}/" class="btn-floating halfway-fab waves-effect waves-light center" style="width: 8rem; border-radius: 2rem;color: white;background-color:#FF3E5A;"><b>Rs. {{product.product.price}}</b></a>
                                            {% else %}
                                            <a href="productdetail/{{product.product.id}}/" class="btn-floating halfway-fab waves-effect waves-light center" style="width: 8rem; border-radius: 2rem;color: white;background-color:#FF3E5A;" disabled><b>Rs. {{product.product.price}}</b></a>
                                            {% endif %}
                                        </div>
                                        <div class="card-body row" style="display: flex;justify-content:space-between;margin-bottom:0px;align-items: center; ">
                                            <div class="col" style="box-sizing:content-box">
                                                <h5 class="card-title truncate" id="cardTitle" style="font-size:16pt">{{product.product.name}}</h5>
                                                <p class="card-text truncate2" style="font-size:12pt">Model: {{product.product.model}} </p>
                                            </div>
                                        </div>
                                        <a class="center" href="/product/cancel-order/{{product.product.id}}/" style="width:100%;background-color:red;color:white;padding:0.5rem;border-radius:0 0 5px 5px">Cancel Order</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0">Documents</p>
                      </div>
                      <div class="row g-2">
                        <div class="col mb-2">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                            alt="image 1" class="w-100 rounded-3">
                        </div>
                        <div class="col mb-2">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                            alt="image 1" class="w-100 rounded-3">
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        <!-- Footer -->
        <footer class="page-footer black darken-3" style="flex-direction: column;">
            <div class="container" style="width:90%;">
                <div class="row">
                    <div class="col l6 s12">
                        <h5>Vadagadi</h5>
                        <p>The things we do is not normal here</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Usefull Links</h5>
                        <a href="/blog" style="color:white;">Blog</a><br>
                        <a href="/contact" style="color:white;">Contact</a><br>
                        <a href="/service" style="color:white;">Services</a><br>  
                        <a href="" style="color:white;">hot news</a><br>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Contact Us</h5>
                        <a>Kathmandu, Nepal</a><br>
                        <a>contact@Vadagadi.com</a><br>
                        <a>+977 987654321</a>
                    </div>
                </div>
                <hr class="center" style="position: unset; width: 80%; height: 0.3vh; margin: 1rem auto;">
                <div class="d-flex justify-content-evenly" >
                    <a href="https://instagram.com/" style="color:white; font-size:2rem;"><i class="bi bi-instagram"></i></a>
                    <a href="https://facebook.com/" style="color:white; font-size:2rem;"><i class="bi bi-facebook"></i></a>
                    <a href="https://github.com/" style="color:white; font-size:2rem;"><i class="bi bi-github"></i></a>
                    <a href="https://youtube.com/" style="color:white; font-size:2rem;"><i class="bi bi-youtube"></i></a>
                </div>
                <div class="container">
                    <div style="height: 1rem;"></div>
                </div>
            </div>
            <div class="footer-copyright black darken-4">
                <div class="container center-align">&copy; 2023 Vadagadi</div>
            </div>
        </footer>
        <script src="" async defer></script>
    </body>
</html>