{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vadagadi</title>
        <link rel="stylesheet" href={% static "./css/viewproduct.css"%}>
        <link rel="shortcut icon" href={% static './images/new.png'%} type="image/x-icon" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sen">

        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <!--Material Design for Bootstrap 5-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
        <link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css">
        <style>
            .modal{
                height: auto;
            }
            nav a:hover{
                color: #FF3E5A;
            }
            .timepicker-digital-display{
                background-color: #eee;
            }
            .timepicker-text-container {
                color: black;
            }
            .timepicker-canvas-bg {
                fill: #FF3E5A;
            }
            .timepicker-canvas-bearing {
                fill: #FF3E5A;
            }
            .timepicker-canvas line {
                stroke: #FF3E5A;
            }
            .timepicker-tick.active, .timepicker-tick:hover {
                background-color: rgba(255, 62, 90, 0.58);
            }
            .text-primary {
                color: #FF3E5A !important;
            }
            .timepicker-close {
                color: #FF3E5A;
            }
            .datepicker-date-display .year-text {
                color: rgba(0, 0, 0, 0.7);
            }
            .datepicker-date-display {
                background-color: #eee;
                color: #000;
            }
            .datepicker-table td.is-selected {
                background-color: #FF3E5A;
            }
            .datepicker-table td.is-today {
                color: green;
            }
            [type="checkbox"]:checked + span:not(.lever)::before {
                border-right: 2px solid #ff3e5a;
                border-bottom: 2px solid #ff3e5a;
            }
            .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
                color: #ff3e5a;
                padding: 0 1rem;
              }
            
            .rating-container {
                display: flex;
              }
              
            .rating-star {
                font-size: 1em;
                color: lightgray;
                transition: color 0.3s ease;
            }
              
            .selected {
                color: orange;
            }
              
            .animated {
                animation: pulse 0.3s ease;
            }
              
            @keyframes pulse {
                from {
                  transform: scale(0.5);
                }
                to {
                  transform: scale(1.2);
                }
            }
              
              
        </style>
    </head>
    <body>
        <!--Nav bar-->
        <div class="navbar-fixed" style="z-index:2;">
            <nav style="background-color: #D9D9D9;">
                <div class="nav-wrapper container" style="width:90%;">
                    <a href="/product/" class="brand-logo"><img width="150rem" src={% static "./images/nepali2.png"%}/></a>
                    <div>
                        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="bi bi-list" style="font-size:2rem;color:black;line-height: inherit;"></i></a>
                        <ul class="right hide-on-med-and-down navHover">
                            <li><a href="/">Home</a></li>
                            <li><a href="/product/">Products</a></li>
                            <li><a href="/contactus/">Contact Us</a></li>
                            <li><a href="/aboutus/">About Us</a></li>
                            {% if user.is_superuser %}
                                <li><a href="/admin/" class="waves-effect waves-purple btn white black-text"><i class="bi bi-bar-chart-fill left" style="line-height: inherit;"></i>Admin</a><li>
                            {% endif %}
                            
                            {% if user.is_authenticated %}
                                <!-- Dropdown Trigger -->
                                <a class="dropdown-trigger waves-effect waves-red btn" style="border-radius: 2rem;background-color:#FF3E5A" href='#' data-target='dropdown1'><i class="bi bi-person-circle left" style="line-height: inherit;"></i>{{user}}</a>
            
                                <!-- Dropdown Structure -->
                                <ul id='dropdown1' class='dropdown-content' >
                                    <li style="min-height:30px;"><a class='center' href="/register/logout" style="padding:0; color:red; height:30px;">Logout</a></li>
                                </ul>
                            {% else %}
                                <a type="submit" href="/register/?next=/product/productdetail/{{products.id}}/" class="waves-effect waves-red btn" style="border-radius: 2rem;background-color:#FF3E5A">
                                    Sign In
                                </a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--Mobile Nav bar-->
        <ul class="sidenav grey lighten-2" id="slide-out">
            <li><a href="/">Home</a></li>
            <li><a href="/product/">Products</a></li>
            <li><a href="/contactus/">Contact Us</a></li>
            <li><a href="/aboutus/">About Us</a></li>
            
            <li>
                <div class="container" style="width: 85%;">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li><a href="/admin/">Admin</a></li>
                        {% endif%}
                        <li>
                            <a href="/history/" style="">History</a>
                        </li>
                        <div>
                            <li><a>Hello,{{user}}</a></li><br/>
                            <li>
                                <a type="submit" href="/register/logout" class="waves-effect waves-purple btn white black-text"> <b>Logout</b></a>
                            </li>
                        </div>
                        {% else %}
                        <li>
                            <a type="submit" href="/register/" class="waves-effect waves-purple btn white black-text">
                                <b>Sign In</b>
                            </a>
                        </li>
                    {% endif %}
                </div>
            </li>
        </ul>
        <!--Breadcrumbs-->
        <div class="container" style="width:90%;height:2rem;padding-top:1rem;">
            <b><a href="/product/" style="color:black;">Search </a><a style="color:grey;">>&nbsp;</a><a href="/product/category/cars/" style="color:black;">{{products.vehicleType}}</a><a style="color:grey;">>&nbsp;</a><a href="" style="color:black;">{{products.name}}</a></b>
        </div><br>
        <!--Book section-->
        <div class="container">
            <div class="row">
                <!--Product images-->
                <div class="col-md center" style="margin:0;padding:1.5rem 0 0 0;">
                    <div style="box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);border-radius:3px;min-height: 50vh;background-color:black;background-image: url(https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/17q3/685272/2018-bmw-m5-photos-and-information-news-car-and-driver-photo-688789-s-original.jpg?fill=2:1&resize=1200:*);background-size: cover;background-position: center;">
                    </div><br>
                    <img width="80" src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/17q3/685272/2018-bmw-m5-photos-and-information-news-car-and-driver-photo-688789-s-original.jpg?fill=2:1&resize=1200:*">
                    <img width="80" src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/17q3/685272/2018-bmw-m5-photos-and-information-news-car-and-driver-photo-688789-s-original.jpg?fill=2:1&resize=1200:*">
                    <img width="80" src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/17q3/685272/2018-bmw-m5-photos-and-information-news-car-and-driver-photo-688789-s-original.jpg?fill=2:1&resize=1200:*">
                </div>
                <!--Product Discription-->
                <div class="col-md" style="padding:0rem;display: flex;justify-content: center;">
                    <div class="row" style="height:auto;padding:1rem;display:flex;flex-direction:column;">
                        <div class="col-md"> 
                            <h1 style="font-size:2.3rem;margin:0 0 1rem 0;font-weight:550;">{{products.name}}</h1>
                            <div style="display:flex; align-items:center; margin:0;">
                            </div>
                            <div class="rating-container">
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                                <i class="fas fa-star rating-star"></i>
                            </div>
                            <input type="hidden" id="rating-value" value="0">
                            <p id="average-rating"></p>
                            <p>Km run: {{products.kilometer}}</p>
                            <h5 style="font-weight:550;">price: <a style="color:#FF3E5A">{{products.price}}</a>/day</h5>
                        </div>
                        <div class="col-md">
                            <form action="/product/bookdate/{{products.id}}/" method="post">
                                {% csrf_token %}
                                <h6><b>Please select the date</b></h6>
                                <input name="starting" format="yyyy mm dd" type="integer" style="width:100%;margin:5px 0;padding: 0.7rem;border: 1px solid black; border-radius: 5px;" class="datepicker browser-default" placeholder="Pickup Date" required>
                                <input name="ending" type="text" style="width:100%;margin:5px 0;padding: 0.7rem;border: 1px solid black; border-radius: 5px;" class="datepicker browser-default" placeholder="Drop Date" required>
                                <input name="pickuptime" type="text" style="width:100%;margin:5px 0;padding: 0.7rem;border: 1px solid black; border-radius: 5px;" class="timepicker browser-default" placeholder="Pickup Time" required>
                                <br>
                                <label>
                                    <input type='checkbox' name='needDriver'></input>
                                    <span>Need a driver<a href="/privacy_policy/"> Privacy Policy</a></span>
                                </label>
                                <h5 style="font-weight:550;font-size:1.5rem;">Your Total: <a style="font-weight:50;background-color:#ff3e5b3a;padding:0.2rem 1.7rem; border-radius: 20px;border: 1px solid #FF3E5A;">20,000</a></h5>
                                {% if user.is_authenticated %}
                                    {% if not booking %}
                                        <button type="submit" class="waves-effect waves-red btn" style="border-radius: 2rem;background-color:#FF3E5A;margin-top:1rem;width: 100%;">
                                            <b>Book Now</b>
                                        </button> 
                                    {% else %}
                                        {% if user.username == booking.username %}
                                            <button type="submit" class="waves-effect waves-red btn" style="border-radius: 2rem;background-color:#FF3E5A;margin-top:1rem;width: 100%;" disabled>
                                                <b>Already booked</b>
                                            </button>
                                        {% else %}
                                            <a href="/product/history/" type="submit" class="waves-effect waves-red btn" style="border-radius: 2rem;background-color:#FF3E5A;margin-top:1rem;width: 100%;">
                                                <b>History</b>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <!-- Modal Trigger --> 
                                    <div class="center">
                                        {% if not booking %}
                                            <a style="border-radius: 2rem;background-color:#FF3E5A;margin-top:1rem;width: 100%;" href="#modal1" class="waves-effect waves-red btn modal-trigger">
                                                <b>Book Now</b>
                                            </a>
                                        {% else %}
                                            <a style="border-radius: 2rem;background-color:#FF3E5A;margin-top:1rem;width: 100%;" href="#modal1" class="waves-effect waves-red btn modal-trigger" disabled>
                                                <b>Not Available</b>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <!-- Modal Structure -->
                                    <div id="modal1" class="modal" style="height:auto;">
                                        <div class="modal-content" style="border-bottom: 0px">
                                            <h5>Must be logged in</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
                                            <a href="/register/" class="modal-close waves-effect waves-green btn-flat">Login</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    <div>
                </div>
                </div>
            </div>
            </div>
        </div>
        
        <!--Key Specification-->
        <div class="container">
            <h1 style="font-size:2.3rem;font-weight:550;">Key Specification</h1>
            <div class="container" style="width:100%;display:flex;justify-content:space-evenly">
                <div class="center">
                    <img class="keySpecificationSize" src={% static "./icons/car-seat.png" %}>
                    <figcaption>Seater: {{products.seatingCapacity}}</figcaption>
                </div>
                <div class="center">
                    <img class="keySpecificationSize" src={% static "./icons/axle.png"%}>
                    <figcaption>{{products.Transmission}}</figcaption>
                </div>
                <div class="center">
                    <img class="keySpecificationSize" src={% static "./icons/car-engine.png"%}>
                    <figcaption>{{products.engine}}</figcaption>
                </div>
                <div class="center">
                    <img class="keySpecificationSize" src={% static "./icons/download-speed.png"%}>
                    <figcaption>{{products.maxPower}}</figcaption>
                </div>
                <div class="center">
                    <img class="keySpecificationSize" src={% static "./icons/gas-station.png"%}>
                    <figcaption>{{products.fuletype}}</figcaption>
                </div>
            </div>
        </div>

        <!--Comments-->
        <div class="container">
            <h1 style="font-size:2.3rem;font-weight:550;">Comment's</h1>
            <div class="row d-flex justify-content-center container" style="width:100%">
                <div class="col-md-8 col-lg-8">
                    <div class="card shadow-0 border" style="background-color: #fff;padding:0;">
                        {% if user.is_authenticated %}
                            <div class="card-body p-4">
                                <h4>Comment Here</h4>
                                <form action="/product/postComment" method="post" class="col s12">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            {% csrf_token %}
                                            <grammarly-extension data-grammarly-shadow-root="true" style="mix-blend-mode: darken; position: absolute; top: 0px; left: 0px; pointer-events: none;" class="cGcvT"></grammarly-extension>
                                            <i class="material-icons prefix"><i class="bi bi-chat-left-dots"></i></i>
                                            <input id="icon_prefix" type="text" name="comment" spellcheck="true" required>
                                            <label for="icon_prefix">Comment Here</label>
                                            <input type="hidden" name="parentSno" value="">
                                            <input type="hidden" name="postSno" value="{{products.id}}">
                                            <button type="submit" class="btn black white-text right" style="margin-top: 2rem;">
                                                <b>Submit</b>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                {% for comment in comments %}
                                    <div class="card" style="background-color:#f0f2f5; padding:0;">
                                        <div class="card-body" style="padding:1rem">
                                            <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
                                                <div class="d-flex flex-row align-items-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTHTAJPlLEQwOQG_g-WNP0WayMmnpM-Nq9ZA&usqp=CAU" alt="avatar" width="25" height="25" />
                                                    <p class="medium mb-0 ms-2">{{comment.user}}</p>
                                                </div>
                                                
                                                <div style="font-size:1rem; color:black">
                                                    <a>{{comment.timestamp | naturaltime}}</a>
                                                    {% if comment.user.id is user.id %}
                                                        <!-- trigger for deleting comment  -->
                                                        &nbsp;&nbsp;<a class="modal-trigger" href="#modal2"><i style="font-size:1.2rem;padding:0px;margin:0px;color:#e61818" class="bi bi-trash-fill right"></i></a>
                                                        <div id="modal2" class="modal" style="height:auto;">
                                                            <div class="modal-content" style="border-bottom: 0px">
                                                                <h3>Delete this comment</h3>
                                                                <p> {{comment.comment}}</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                                                <a href="/product/deleteComment/{{comment.sno}}" class="modal-close waves-effect waves-red btn-flat">Delete</a>
                                                            </div>
                                                        </div>
                                                    {%endif%}
                                                </div>
                                            </div>
                                            <h6>{{comment.comment}}</h6>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                        <div class="card-body p-4">
                            <h4>Comments</h4>
                            <br><h5><i class="bi bi-exclamation-circle-fill left"></i> Login To Comment </h5><br>
                            {% for comment in comments %}
                                <div class="card" style="background-color:#f0f2f5; padding:0;">
                                    <div class="card-body" style="padding:1rem">
                                        <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTHTAJPlLEQwOQG_g-WNP0WayMmnpM-Nq9ZA&usqp=CAU" alt="avatar" width="25" height="25" />
                                                <p class="medium mb-0 ms-2">{{comment.user}}</p>
                                            </div>
                                            <a style="font-size:1rem; color:black">{{comment.timestamp | naturaltime}}</a>
                                        </div>
                                        <h6>{{comment.comment}}</h6>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!--Recomendation Card-->
        <div class="container">
            <div class="container-fluid" style="width: 100%;">
                <h1 style="font-size:2.3rem;font-weight:550;margin:0;padding:3rem 0 1rem 0">Vehicle You May like</h1>
            </div>
            <div class="wrapper" style="overflow-x: scroll;overflow-y: hidden;">
                <div class="item" style="height: auto; background-color: transparent; margin:5px; display:flex;">
                    <div class="item" style="height: auto; width:20rem; background-color: transparent; margin:5px;">
                        <div class="card hoverable" style="border-radius:5px;">
                            <div class="card-image">
                                <img style="border-radius:5px;" src="https://imageio.forbes.com/specials-images/imageserve/5f962df3991e5636a2f68758/0x0.jpg?format=jpg&crop=812,457,x89,y103,safe&width=1200">
                                <a class="btn-floating halfway-fab waves-effect waves-light center" style="width: 8rem; border-radius: 2rem;color: white;background-color:#FF3E5A;"><b>Rs. 20000</b></a>
                            </div>
                            <div class="card-body" style="display: flex;flex-direction:column;margin-bottom:0px;">
                                <div class="col" style="box-sizing:content-box">
                                    <h5 class="card-title truncate" id="cardTitle" style="font-size:16pt">Hyundai</h5>
                                    <p class="card-text truncate" style="font-size:12pt">Model: Hyundai </p>
                                </div>
                                <hr>
                                <div class="col center" style="padding: 0;">
                                    <div class="center" style="display: flex;margin-top:1rem;margin-bottom:0rem;justify-content:space-evenly;">
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/car-seat.png"%}>
                                            <figcaption style="font-size:10pt;">4</figcaption>
                                        </div>
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/car-engine.png"%}>
                                            <figcaption style="font-size:10pt;width: 4rem;">1000</figcaption>
                                        </div>
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/download-speed.png"%}>
                                            <figcaption style="font-size:10pt; width: 4rem;" class="truncate">150km/hrs</figcaption>
                                        </div>
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/gas-station.png"%}>
                                            <figcaption style="font-size:10pt;">petrol</figcaption>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="height: auto; width:20rem; background-color: transparent; margin:5px;">
                        <div class="card hoverable" style="border-radius:5px;">
                            <div class="card-image">
                                <img style="border-radius:5px;" src="https://imageio.forbes.com/specials-images/imageserve/5f962df3991e5636a2f68758/0x0.jpg?format=jpg&crop=812,457,x89,y103,safe&width=1200">
                                <a class="btn-floating halfway-fab waves-effect waves-light center" style="width: 8rem; border-radius: 2rem;color: white;background-color:#FF3E5A;"><b>Rs. 20000</b></a>
                            </div>
                            <div class="card-body" style="display: flex;flex-direction:column;margin-bottom:0px;">
                                <div class="col" style="box-sizing:content-box">
                                    <h5 class="card-title truncate" id="cardTitle" style="font-size:16pt">Hyundai</h5>
                                    <p class="card-text truncate" style="font-size:12pt">Model: Hyundai </p>
                                </div>
                                <hr>
                                <div class="col center" style="padding: 0;">
                                    <div class="center" style="display: flex;margin-top:1rem;margin-bottom:0rem;justify-content:space-evenly;">
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/car-seat.png"%}>
                                            <figcaption style="font-size:10pt;">4</figcaption>
                                        </div>
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/car-engine.png"%}>
                                            <figcaption style="font-size:10pt;width: 4rem;">1000</figcaption>
                                        </div>
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/download-speed.png"%}>
                                            <figcaption style="font-size:10pt; width: 4rem;" class="truncate">150km/hrs</figcaption>
                                        </div>
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/gas-station.png"%}>
                                            <figcaption style="font-size:10pt;">petrol</figcaption>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="height: auto; width:20rem; background-color: transparent; margin:5px;">
                        <div class="card hoverable" style="border-radius:5px;">
                            <div class="card-image">
                                <img style="border-radius:5px;" src="https://imageio.forbes.com/specials-images/imageserve/5f962df3991e5636a2f68758/0x0.jpg?format=jpg&crop=812,457,x89,y103,safe&width=1200">
                                <a class="btn-floating halfway-fab waves-effect waves-light center" style="width: 8rem; border-radius: 2rem;color: white;background-color:#FF3E5A;"><b>Rs. 20000</b></a>
                            </div>
                            <div class="card-body" style="display: flex;flex-direction:column;margin-bottom:0px;">
                                <div class="col" style="box-sizing:content-box">
                                    <h5 class="card-title truncate" id="cardTitle" style="font-size:16pt">Hyundai</h5>
                                    <p class="card-text truncate" style="font-size:12pt">Model: Hyundai </p>
                                </div>
                                <hr>
                                <div class="col center" style="padding: 0;">
                                    <div class="center" style="display: flex;margin-top:1rem;margin-bottom:0rem;justify-content:space-evenly;">
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/car-seat.png"%}>
                                            <figcaption style="font-size:10pt;">4</figcaption>
                                        </div>
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/car-engine.png"%}>
                                            <figcaption style="font-size:10pt;width: 4rem;">1000</figcaption>
                                        </div>
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/download-speed.png"%}>
                                            <figcaption style="font-size:10pt; width: 4rem;" class="truncate">150km/hrs</figcaption>
                                        </div>
                                        <div class="col" style="padding:0rem;">
                                            <img width="20px" src={% static "./icons/gas-station.png"%}>
                                            <figcaption style="font-size:10pt;">petrol</figcaption>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Footer -->
        <footer class="page-footer black darken-3" style="flex-direction: column;">
            <div class="container" style="width:90%;">
                <div class="row">
                    <div class="col l6 s12">
                        <h5>Vadagadi</h5>
                        <p>The things we do is not normal here</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Usefull Links</h5>
                        <a href="/blog" style="color:white;">Blog</a><br>
                        <a href="/contact" style="color:white;">Contact</a><br>
                        <a href="/service" style="color:white;">Services</a><br>  
                        <a href="" style="color:white;">hot news</a><br>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Contact Us</h5>
                        <a>Kathmandu, Nepal</a><br>
                        <a>contact@Vadagadi.com</a><br>
                        <a>+977 987654321</a>
                    </div>
                </div>
                <hr class="center" style="position: unset; width: 80%; height: 0.3vh; margin: 1rem auto;">
                <div class="d-flex justify-content-evenly" >
                    <a href="https://instagram.com/" style="color:white; font-size:2rem;"><i class="bi bi-instagram"></i></a>
                    <a href="https://facebook.com/" style="color:white; font-size:2rem;"><i class="bi bi-facebook"></i></a>
                    <a href="https://github.com/" style="color:white; font-size:2rem;"><i class="bi bi-github"></i></a>
                    <a href="https://youtube.com/" style="color:white; font-size:2rem;"><i class="bi bi-youtube"></i></a>
                </div>
                <div class="container">
                    <div style="height: 1rem;"></div>
                </div>
            </div>
            <div class="footer-copyright black darken-4">
                <div class="container center-align">&copy; 2023 Vadagadi</div>
            </div>
        </footer>
    
          
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="js/addons/rating.js"></script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
                $('.modal').modal();
                $('.datepicker').datepicker();
                $('.dropdown-trigger').dropdown();
                $('.timepicker').timepicker();
            });
        </script>
        <script>
            $( "#datepicker" ).datepicker({ minDate: 0});
        </script>
        <script>
            const ratingStars = document.querySelectorAll(".rating-star");
            const ratingValue = document.getElementById("rating-value");
            const averageRating = document.getElementById("average-rating");

            // Replace this with an AJAX call to retrieve the average rating from the database
            const avgRating = {{products.ratings}};

            ratingStars.forEach((star, index) => {
            if (index < avgRating) {
                star.classList.add("selected");
            }
            
            star.addEventListener("mouseout", e => {
                ratingStars.forEach((star, i) => {
                if (i < avgRating) {
                    star.classList.add("selected");
                } else {
                    star.classList.remove("selected");
                }
                });
            });
            });
            averageRating.textContent = `Average rating: ${avgRating}`;
        </script>
    </body>
</html>